/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

div.card-header {
  font-size: large;
}

div.card-sub-header {
  margin-top: 15px;
  font-size: large;
  padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

div.card {
  margin-top: 10px;
}

.table {
  margin-top: 10px;
}
